.girl
  - if girl.available_today?
    .available Работает сегодня
  - else
    .not-available
      Работает
      = girl.available_date

  .img
    %a{href: girl_path(girl)}
      = image_tag girl.avatar_url(:profile)
  .info
    .name
      = "#{girl.name},"
      %span.age
        = girl.age.to_s
        = Russian.p girl.age, 'год', 'года', 'лет'
    .params
      -#%span.age
        = girl.age.to_s
        = Russian.p girl.age, 'год', 'года', 'лет'
      %span
        %a{href: girl_path(girl, anchor: 'comments')}
          Отзывы о девушке
          -#= girl.comments_count.to_s
          -#= Russian.p girl.comments_count, 'отзыв', 'отзыва', 'отзывов'

      %br
      %span
        = link_to 'Смотреть видео с девушкой', girl_path(girl, anchor: 'video')
