%section#programs
  .wrapper
    .title
      Наши программы

    .programs


      .program-container
        .program-header
          .program-icon
            .icon
              = image_tag('programs/classic.png')
          .program-title
            Классическая

        .program-desc
          В эту программу включены час классического и час эротического массажа.
          Идеальный вариант, если вы ни разу не были на эротическом массаже, но очень хотите попробовать.

        .program-info
          8 000 руб, 2 часа

      .program-container
        .program-header
          .program-icon
            .icon
              = image_tag('programs/1.png')
          .program-title
            Классическая плюс

        .program-desc
          В эту программу включены полчаса классического и час эротического массажа, а также дополнение
          "веточка сакуры" (поцелуи в тело, шею, кроме зоны бикини) и дополнение "любимая игрушка"

        .program-info
          10 000 руб, 1,5 часа


      .program-container
        .program-header
          .program-icon
            .icon
              = image_tag('programs/2.png')
          .program-title
            В четыре руки

        .program-desc
          Два часа наслаждения в четырех руках двух массажистов. В программу включены час классического и час эротического массажа.

        .program-info
          10 000 рублей, 2 часа



      .program-container
        .program-header
          .program-icon
            .icon
              = image_tag('programs/4.png')
          .program-title
            Эротика Плюс

        .program-desc
          В программу включены полчаса классического и полтора часа эротического массажа. Мало вам не покажется!

        .program-info
          9 000 рублей, 2 часа



      .program-container
        .program-header
          .program-icon
            .icon
              = image_tag('programs/3.png')
          .program-title
            Райское наслаждение

        .program-desc
          Для искушенных ценительниц эротического массажа. В программу включены час классического массажа, полтора
          часа эротического массажа, полчаса аквапенного массажа в душе и дополнение "любимая игрушка"

        .program-info
          12 000 рублей, 3 часа



      .program-container
        .program-header
          .program-icon
            .icon
              = image_tag('programs/5.png')
          .program-title
            Люкс

        .program-desc
          Ужин при свечах, на который вам будут поданы фруктовая тарелка, сырная тарелка и бутылка вина. Затем - час классического массажа,
          час эротического массажа, полчаса раскуривания вкусного кальяна на фрукте, затем ветка сакуры и еще час эротического массажа.

        .program-info
          20 000 рублей, 4 часа
