.padder
#intro
  .wrapper
    .intro-title
      Массажный салон
      %span.blue Виолет
      %br
      приглашает мужчин
      %br
      на
      %span.blue
        эротический массаж


- if params[:utm_medium] == 'context_text_cpc'
  = render partial: 'application/special_offer'
- if params[:sale] == 'thirty_minutes'
  = render partial: 'application/sale'


= render partial: 'application/triggers'



%section#girls
  .wrapper
    .title
      Наши девушки




    .girls
      - @girls.each do |girl|
        = render partial: 'girls/girl', locals: {girl: girl}


= render partial: 'application/programms'
= render partial: 'application/extras'


#address
  Волков переулок, дом 13, с1
#map

.ololo{style: 'height: 50px; line-height: 50px; text-align: center;'}
  %a{href: 'http://rusdosug.com'} Rusdosug
  %a{href: 'http://intimcity.nl'} Intimcity

.request-call-dialog
  .header-transparent
  .arrow-up
  .content
    .success
      Мы вам скоро перезвоним!
    %form
      %input{type: :text, name: :username, placeholder: 'Ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Ваш телефон'}
      .submit#submit-order
        Заказать звонок
