#no-sex
  Строго без
  интима!


.action
  .wrapper
    .offer
      %span.bold Скидка 52%
      На программу
      .program-name "Сладкий Экспресс"
      .price
        1 200 рублей вместо
        %span.line-through 2 500 рублей


    .bonuses
      .bonus
        %span Бонус: Дополнение "Душ с девушкой" - бесплатно
      .bonus
        %span Бонус: Дополнение "Потрогать массажистку" - бесплатно
      .bonus
        %span Бонус: Бокал коньяка - в подарок

    .timer
      %span.timer-text
        До конца акции осталось:
      %span.timer-value
        %span#hours
        часов,
        %span#minutes
        мин,
        %span#seconds
        сек


.action-bottom
  .wrapper.relative
    .info
      .button.get-sale
        Получить скидку
      .how Как получить скидку?
      .how-to
        Запишитесь по телефону на программу до конца акции или
        нажмите кнопку «Получить скидку» и заполните форму.
        %br
        %br

        Вам на e-mail придет промокод, который позволит воспользоваться
        скидкой в течение пяти дней.
    .form
      .form-block
        .form-title
          Успейте получить скидку,
          %br
          акция закончится уже совсем скоро!


        .subtitle
          Оставьте ваше имя и e-mail в форме ниже, и вам придет письмо с промокодом,
          %br
          который позволится воспользоваться скидкой в течение недели.

        %form
          %input{type: :text, name: :username, placeholder: 'Ваше имя'}
          %input{type: :text, name: :email, placeholder: 'Ваш e-mail'}
          .button#send-special-offer Отправить

      .form-thank-you
        .thank-you-text
          .bolder.big Спасибо!
          Ваш промокод - "45-13"
          %br
          %br
          %br


.banners
  .wrapper
    #banners
      .banner
        = image_tag 'banners/night.jpg'
      .banner
        = image_tag 'banners/morning.jpg'
      .banner
        = image_tag 'banners/card.jpg'
    .banners-navigation
      .prev#prev-banner
      %ul.pager#banners-pager
        %li.page
          %a{href: '', 'data-slide-index' => 0}
            = image_tag 'banners/night.jpg'

        %li.page
          %a{href: '', 'data-slide-index' => 1}
            = image_tag 'banners/morning.jpg'

        %li.page.last
          %a{href: '', 'data-slide-index' => 2}
            = image_tag 'banners/card.jpg'


      .next#next-banner


- if params[:utm_source] == 'yandex' or session[:utm_source] == 'yandex'
  = render partial: 'application/special_offer'


-#= render partial: 'application/triggers'



%section#girls
  .wrapper
    .title
      Наши девушки




    .girls2
      - @girls.each do |girl|
        = render partial: 'girls/girl2', locals: {girl: girl}


= render partial: 'programs/programs'


#address
  м. Краснопресненская, Волков переулок, дом 13, с1
#map

.ololo{style: 'height: 50px; line-height: 50px; text-align: center;'}
  %a{href: 'http://rusdosug.com'} Rusdosug
  %a{href: 'http://intimcity.nl'} Intimcity
