-#no-sex
  Строго без
  интима!

.banners
  .wrapper
    #banners
      .banner
        = image_tag 'banners/night.jpg'
      .banner
        = image_tag 'banners/morning.jpg'
      .banner
        = image_tag 'banners/card.jpg'
    .banners-navigation
      .prev#prev-banner
      %ul.pager#banners-pager
        %li.page
          %a{href: '', 'data-slide-index' => 0}
            = image_tag 'banners/night.jpg'

        %li.page
          %a{href: '', 'data-slide-index' => 1}
            = image_tag 'banners/morning.jpg'

        %li.page.last
          %a{href: '', 'data-slide-index' => 2}
            = image_tag 'banners/card.jpg'


      .next#next-banner


- if params[:utm_source] == 'yandex' or session[:utm_source] == 'yandex'
  = render partial: 'application/special_offer'


-#= render partial: 'application/triggers'



%section#girls
  .wrapper
    .title
      Наши девушки




    .girls2
      - @girls.each do |girl|
        = render partial: 'girls/girl2', locals: {girl: girl}


= render partial: 'programs/programs'


#address
  м. Краснопресненская, Волков переулок, дом 13, с1
#map

.ololo{style: 'height: 50px; line-height: 50px; text-align: center;'}
  %a{href: 'http://rusdosug.com'} Rusdosug
  %a{href: 'http://intimcity.nl'} Intimcity
