!!! 5
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'admin', :media => 'all'
    = javascript_include_tag 'admin'
  %body
    .wrapper
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.brand{href: '#'}
              Eromassage CRM
            %ul.nav
              %li.divider-vertical
              %li
                %a{href: admin_girls_path}
                  Телки
              %li
                %a{href: admin_rooms_path}
                  Комнаты




      .container#main
        .row
          .span12
            = yield
            = yield :scripts
      .push
